<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onlayn Do‘kon</title>
</head>
<body>
    <h1>Do‘kondagi Mahsulotlar</h1>
    <ul>
        {% for product in products %}
            <li>{{ product.name }} - ${{ product.price }}  
                <a href="{{ url_for('add_to_cart', product_name=product.name) }}">Savatchaga qo‘shish</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Savatcha</h2>
    <ul>
        {% for item in cart %}
            <li>{{ item.name }} - ${{ item.price }}</li>
        {% endfor %}
    </ul>
    <p>Umumiy narx: ${{ cart|sum(attribute='price') }}</p>
    <a href="{{ url_for('clear_cart') }}">Savatchani tozalash</a>
</body>
</html>
